In [6]:
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
nobel_df = pd.read_csv("nobel_winners.csv")

In [25]:
nobel_df.sample(10)
nobel_df['gender'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 969 entries, 0 to 968
Series name: gender
Non-Null Count  Dtype
--------------  -----
943 non-null    object
dtypes: object(1)
memory usage: 7.7+ KB

In [16]:
nobel_df.shape

(969, 18)

In [18]:
nobel_df.dtypes

prize_year               int64
category                object
prize                   object
motivation              object
prize_share             object
laureate_id              int64
laureate_type           object
full_name               object
birth_date              object
birth_city              object
birth_country           object
gender                  object
organization_name       object
organization_city       object
organization_country    object
death_date              object
death_city              object
death_country           object
dtype: object

In [20]:
nobel_df.describe(include='all')

,prize_year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,gender,organization_name,organization_city,organization_country,death_date,death_city,death_country
count,969.000000,969,969,881,969,969.000000,969,969,938,941,943,943,722,716,716,617,599,605
unique,NaN,6,579,565,4,NaN,2,904,866,601,121,2,315,186,29,582,291,50
top,NaN,Medicine,The Nobel Prize in Physiology or Medicine 2009,"""for the discovery of the accelerating expansi...",1/1,NaN,Individual,Jack W. Szostak,1938-03-07,"New York, NY",United States of America,Male,University of California,"Cambridge, MA",United States of America,1985-09-08,Paris,United States of America
freq,NaN,227,5,5,351,NaN,939,3,3,48,276,893,34,48,363,3,28,210
mean,1970.287926,NaN,NaN,NaN,NaN,470.152735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,32.937498,NaN,NaN,NaN,NaN,274.586623,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1901.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1947.000000,NaN,NaN,NaN,NaN,230.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1976.000000,NaN,NaN,NaN,NaN,462.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1999.000000,NaN,NaN,NaN,NaN,718.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2016.000000,NaN,NaN,NaN,NaN,937.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
women_filter = nobel_df['gender'] == 'Female'
male_filter = nobel_df['gender'] == 'Male'

In [33]:
nobel_df[nobel_df['gender'].isna()]

,prize_year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,gender,organization_name,organization_city,organization_country,death_date,death_city,death_country
24,1904,Peace,The Nobel Peace Prize 1904,NaN,1/1,467,Organization,Institut de droit international (Institute of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,1910,Peace,The Nobel Peace Prize 1910,NaN,1/1,477,Organization,Bureau international permanent de la Paix (Per...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,1917,Peace,The Nobel Peace Prize 1917,NaN,1/1,482,Organization,Comité international de la Croix Rouge (Intern...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,1938,Peace,The Nobel Peace Prize 1938,NaN,1/1,503,Organization,Office international Nansen pour les Réfugiés ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,1944,Peace,The Nobel Peace Prize 1944,NaN,1/1,482,Organization,Comité international de la Croix Rouge (Intern...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,1947,Peace,The Nobel Peace Prize 1947,NaN,1/2,508,Organization,Friends Service Council (The Quakers),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,1947,Peace,The Nobel Peace Prize 1947,NaN,1/2,509,Organization,American Friends Service Committee (The Quakers),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295,1954,Peace,The Nobel Peace Prize 1954,NaN,1/1,515,Organization,Office of the United Nations High Commissioner...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
365,1963,Peace,The Nobel Peace Prize 1963,NaN,1/2,482,Organization,Comité international de la Croix Rouge (Intern...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
366,1963,Peace,The Nobel Peace Prize 1963,NaN,1/2,523,Organization,Ligue des Sociétés de la Croix-Rouge (League o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
383,1965,Peace,The Nobel Peace Prize 1965,NaN,1/1,525,Organization,United Nations Children's Fund (UNICEF),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
416,1969,Peace,The Nobel Peace Prize 1969,NaN,1/1,527,Organization,International Labour Organization (I.L.O.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,1977,Peace,The Nobel Peace Prize 1977,NaN,1/1,537,Organization,Amnesty International,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
543,1981,Peace,The Nobel Peace Prize 1981,NaN,1/1,515,Organization,Office of the United Nations High Commissioner...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
578,1985,Peace,The Nobel Peace Prize 1985,NaN,1/1,547,Organization,International Physicians for the Prevention of...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,1988,Peace,The Nobel Peace Prize 1988,NaN,1/1,550,Organization,United Nations Peacekeeping Forces,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
682,1995,Peace,The Nobel Peace Prize 1995,"""for their efforts to diminish the part played...",1/2,561,Organization,Pugwash Conferences on Science and World Affairs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
705,1997,Peace,The Nobel Peace Prize 1997,"""for their work for the banning and clearing o...",1/2,564,Organization,International Campaign to Ban Landmines (ICBL),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
728,1999,Peace,The Nobel Peace Prize 1999,"""in recognition of the organization's pioneeri...",1/1,568,Organization,Médecins Sans Frontières,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
754,2001,Peace,The Nobel Peace Prize 2001,"""for their work for a better organized and mor...",1/2,748,Organization,United Nations (U.N.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
808,2005,Peace,The Nobel Peace Prize 2005,"""for their efforts to prevent nuclear energy f...",1/2,797,Organization,International Atomic Energy Agency (IAEA),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
821,2006,Peace,The Nobel Peace Prize 2006,"""for their efforts to create economic and soci...",1/2,810,Organization,Grameen Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
833,2007,Peace,The Nobel Peace Prize 2007,"""for their efforts to build up and disseminate...",1/2,818,Organization,Intergovernmental Panel on Climate Change (IPCC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
909,2012,Peace,The Nobel Peace Prize 2012,"""for over six decades contributed to the advan...",1/1,881,Organization,European Union (EU),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
927,2013,Peace,The Nobel Peace Prize 2013,"""for its extensive efforts to eliminate chemic...",1/1,893,Organization,Organisation for the Prohibition of Chemical W...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
955,2015,Peace,The Nobel Peace Prize 2015,"""for its decisive contribution to the building...",1/1,925,Organization,National Dialogue Quartet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
nobel_df[women_filter]

,prize_year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,gender,organization_name,organization_city,organization_country,death_date,death_city,death_country
19,1903,Physics,The Nobel Prize in Physics 1903,"""in recognition of the extraordinary services ...",1/4,6,Individual,"Marie Curie, née Sklodowska",1867-11-07,Warsaw,Russian Empire (Poland),Female,NaN,NaN,NaN,1934-07-04,Sallanches,France
29,1905,Peace,The Nobel Peace Prize 1905,NaN,1/1,468,Individual,"Baroness Bertha Sophie Felicita von Suttner, n...",1843-06-09,Prague,Austrian Empire (Czech Republic),Female,NaN,NaN,NaN,1914-06-21,Vienna,Austria
52,1909,Literature,The Nobel Prize in Literature 1909,"""in appreciation of the lofty idealism, vivid ...",1/1,579,Individual,Selma Ottilia Lovisa Lagerlöf,1858-11-20,Mårbacka,Sweden,Female,NaN,NaN,NaN,1940-03-16,Mårbacka,Sweden
63,1911,Chemistry,The Nobel Prize in Chemistry 1911,"""in recognition of her services to the advance...",1/1,6,Individual,"Marie Curie, née Sklodowska",1867-11-07,Warsaw,Russian Empire (Poland),Female,Sorbonne University,Paris,France,1934-07-04,Sallanches,France
129,1926,Literature,The Nobel Prize in Literature 1926,"""for her idealistically inspired writings whic...",1/1,597,Individual,Grazia Deledda,1871-09-27,"Nuoro, Sardinia",Italy,Female,NaN,NaN,NaN,1936-08-15,Rome,Italy
142,1928,Literature,The Nobel Prize in Literature 1928,"""principally for her powerful descriptions of ...",1/1,601,Individual,Sigrid Undset,1882-05-20,Kalundborg,Denmark,Female,NaN,NaN,NaN,1949-06-10,Lillehammer,Norway
163,1931,Peace,The Nobel Peace Prize 1931,NaN,1/2,496,Individual,Jane Addams,1860-09-06,"Cedarville, IL",United States of America,Female,NaN,NaN,NaN,1935-05-21,"Chicago, IL",United States of America
183,1935,Chemistry,The Nobel Prize in Chemistry 1935,"""in recognition of their synthesis of new radi...",1/2,194,Individual,Irène Joliot-Curie,1897-09-12,Paris,France,Female,Institut du Radium,Paris,France,1956-03-17,Paris,France
204,1938,Literature,The Nobel Prize in Literature 1938,"""for her rich and truly epic descriptions of p...",1/1,610,Individual,Pearl Buck,1892-06-26,"Hillsboro, WV",United States of America,Female,NaN,NaN,NaN,1973-03-06,"Danby, VT",United States of America
225,1945,Literature,The Nobel Prize in Literature 1945,"""for her lyric poetry which, inspired by power...",1/1,615,Individual,Gabriela Mistral,1889-04-07,Vicuña,Chile,Female,NaN,NaN,NaN,1957-01-10,"Hempstead, NY",United States of America
236,1946,Peace,The Nobel Peace Prize 1946,NaN,1/2,506,Individual,Emily Greene Balch,1867-01-08,"Jamaica Plain, MA (Boston)",United States of America,Female,NaN,NaN,NaN,1961-01-09,"Cambridge, MA",United States of America
242,1947,Medicine,The Nobel Prize in Physiology or Medicine 1947,"""for their discovery of the course of the cata...",1/4,344,Individual,"Gerty Theresa Cori, née Radnitz",1896-08-15,Prague,Austria-Hungary (Czech Republic),Female,Washington University,"St. Louis, MO",United States of America,1957-10-26,"St. Louis, MO",United States of America
368,1963,Physics,The Nobel Prize in Physics 1963,"""for their discoveries concerning nuclear shel...",1/4,79,Individual,Maria Goeppert Mayer,1906-06-28,Kattowitz (Katowice),Germany (Poland),Female,University of California,"San Diego, CA",United States of America,1972-02-20,"San Diego, CA",United States of America
370,1964,Chemistry,The Nobel Prize in Chemistry 1964,"""for her determinations by X-ray techniques of...",1/1,230,Individual,Dorothy Crowfoot Hodgkin,1910-05-12,Cairo,Egypt,Female,"University of Oxford, Royal Society",Oxford,United Kingdom,1994-07-29,Shipston-on-Stour,United Kingdom
389,1966,Literature,The Nobel Prize in Literature 1966,"""for her outstanding lyrical and dramatic writ...",1/2,640,Individual,Nelly Sachs,1891-12-10,Berlin,Germany,Female,NaN,NaN,NaN,1970-05-12,Stockholm,Sweden
486,1976,Peace,The Nobel Peace Prize 1976,NaN,1/2,535,Individual,Betty Williams,1943-05-22,Belfast,Northern Ireland,Female,NaN,NaN,NaN,NaN,NaN,NaN
487,1976,Peace,The Nobel Peace Prize 1976,NaN,1/2,536,Individual,Mairead Corrigan,1944-01-27,Belfast,Northern Ireland,Female,NaN,NaN,NaN,NaN,NaN,NaN
497,1977,Medicine,The Nobel Prize in Physiology or Medicine 1977,"""for the development of radioimmunoassays of p...",1/2,413,Individual,Rosalyn Yalow,1921-07-19,"New York, NY",United States of America,Female,Veterans Administration Hospital,"Bronx, NY",United States of America,2011-05-30,"New York, NY",United States of America
520,1979,Peace,The Nobel Peace Prize 1979,NaN,1/1,540,Organization,Mother Teresa,1910-08-26,Uskup (Skopje),Ottoman Empire (Republic of Macedonia),Female,NaN,NaN,NaN,1997-09-05,Calcutta,India
553,1982,Peace,The Nobel Peace Prize 1982,NaN,1/2,543,Individual,Alva Myrdal,1902-01-31,Uppsala,Sweden,Female,NaN,NaN,NaN,1986-02-01,Stockholm,Sweden
559,1983,Medicine,The Nobel Prize in Physiology or Medicine 1983,"""for her discovery of mobile genetic elements""",1/1,428,Individual,Barbara McClintock,1902-06-16,"Hartford, CT",United States of America,Female,Cold Spring Harbor Laboratory,"Cold Spring Harbor, NY",United States of America,1992-09-02,"Huntington, NY",United States of America
586,1986,Medicine,The Nobel Prize in Physiology or Medicine 1986,"""for their discoveries of growth factors""",1/2,435,Individual,Rita Levi-Montalcini,1909-04-22,Turin,Italy,Female,Institute of Cell Biology of the C.N.R.,Rome,Italy,2012-12-30,Rome,Italy
608,1988,Medicine,The Nobel Prize in Physiology or Medicine 1988,"""for their discoveries of important principles...",1/3,438,Individual,Gertrude B. Elion,1918-01-23,"New York, NY",United States of America,Female,Wellcome Research Laboratories,"Research Triangle Park, NC",United States of America,1999-02-21,"Chapel Hill, NC",United States of America
637,1991,Literature,The Nobel Prize in Literature 1991,"""who through her magnificent epic writing has ...",1/1,668,Individual,Nadine Gordimer,1923-11-20,Springs,South Africa,Female,NaN,NaN,NaN,2014-07-13,Johannesburg,South Africa
640,1991,Peace,The Nobel Peace Prize 1991,"""for her non-violent struggle for democracy an...",1/1,553,Organization,Aung San Suu Kyi,1945-06-19,Rangoon (Yangon),Burma (Myanmar),Female,NaN,NaN,NaN,NaN,NaN,NaN
647,1992,Peace,The Nobel Peace Prize 1992,"""in recognition of her work for social justice...",1/1,554,Individual,Rigoberta Menchú Tum,1959-01-09,Aldea Chimel,Guatemala,Female,NaN,NaN,NaN,NaN,NaN,NaN
654,1993,Literature,The Nobel Prize in Literature 1993,"""who in novels characterized by visionary forc...",1/1,670,Individual,Toni Morrison,1931-02-18,"Lorain, OH",United States of America,Female,NaN,NaN,NaN,NaN,NaN,NaN
679,1995,Medicine,The Nobel Prize in Physiology or Medicine 1995,"""for their discoveries concerning the genetic ...",1/3,453,Individual,Christiane Nüsslein-Volhard,1942-10-20,Magdeburg,Germany,Female,Max-Planck-Institut für Entwicklungsbiologie,Tübingen,Federal Republic of Germany,NaN,NaN,NaN
690,1996,Literature,The Nobel Prize in Literature 1996,"""for poetry that with ironic precision allows ...",1/1,673,Individual,Wislawa Szymborska,1923-07-02,Bnin (Kórnik),Poland,Female,NaN,NaN,NaN,2012-02-01,Kraków,Poland
706,1997,Peace,The Nobel Peace Prize 1997,"""for their work for the banning and clearing o...",1/2,565,Individual,Jody Williams,1950-10-09,"Putney, VT",United States of America,Female,NaN,NaN,NaN,NaN,NaN,NaN
781,2003,Peace,The Nobel Peace Prize 2003,"""for her efforts for democracy and human right...",1/1,773,Individual,Shirin Ebadi,1947-06-21,Hamadan,Iran,Female,NaN,NaN,NaN,NaN,NaN,NaN
792,2004,Literature,The Nobel Prize in Literature 2004,"""for her musical flow of voices and counter-vo...",1/1,782,Individual,Elfriede Jelinek,1946-10-20,Mürzzuschlag,Austria,Female,NaN,NaN,NaN,NaN,NaN,NaN
794,2004,Medicine,The Nobel Prize in Physiology or Medicine 2004,"""for their discoveries of odorant receptors an...",1/2,775,Individual,Linda B. Buck,1947-01-29,"Seattle, WA",United States of America,Female,Fred Hutchinson Cancer Research Center,"Seattle, WA",United States of America,NaN,NaN,NaN
795,2004,Peace,The Nobel Peace Prize 2004,"""for her contribution to sustainable developme...",1/1,783,Individual,Wangari Muta Maathai,1940-04-01,Nyeri,Kenya,Female,NaN,NaN,NaN,2011-09-25,Nairobi,Kenya
828,2007,Literature,The Nobel Prize in Literature 2007,"""that epicist of the female experience, who wi...",1/1,817,Individual,Doris Lessing,1919-10-22,Kermanshah,Persia (Iran),Female,NaN,NaN,NaN,2013-11-17,London,United Kingdom
846,2008,Medicine,The Nobel Prize in Physiology or Medicine 2008,"""for their discovery of human immunodeficiency...",1/4,824,Individual,Françoise Barré-Sinoussi,1947-07-30,Paris,France,Female,"Regulation of Retroviral Infections Unit, Viro...",Paris,France,NaN,NaN,NaN
856,2009,Chemistry,The Nobel Prize in Chemistry 2009,"""for studies of the structure and function of ...",1/3,843,Individual,Ada E. Yonath,1939-06-22,Jerusalem,British Mandate of Palestine (Israel),Female,Weizmann Institute of Science,Rehovot,Israel,NaN,NaN,NaN
857,2009,Economics,The Sveriges Riksbank Prize in Economic Scienc...,"""for her analysis of economic governance, espe...",1/2,846,Individual,Elinor Ostrom,1933-08-07,"Los Angeles, CA",United States of America,Female,Indiana University,"Bloomington, IN",United States of America,2012-06-12,"Bloomington, IN",United States of America
858,2009,Economics,The Sveriges Riksbank Prize in Economic Scienc...,"""for her analysis of economic governance, espe...",1/2,846,Individual,Elinor Ostrom,1933-08-07,"Los Angeles, CA",United States of America,Female,Arizona State University,"Tempe, AZ",United States of America,2012-06-12,"Bloomington, IN",United States of America
860,2009,Literature,The Nobel Prize in Literature 2009,"""who, with the concentration of poetry and the...",1/1,844,Individual,Herta Müller,1953-08-17,"Nitzkydorf, Banat",Romania,Female,NaN,NaN,NaN,NaN,NaN,NaN
861,2009,Medicine,The Nobel Prize in Physiology or Medicine 2009,"""for the discovery of how chromosomes are prot...",1/3,835,Individual,Elizabeth H. Blackburn,1948-11-26,"Hobart, Tasmania",Australia,Female,University of California,"San Francisco, CA",United States of America,NaN,NaN,NaN
862,2009,Medicine,The Nobel Prize in Physiology or Medicine 2009,"""for the discovery of how chromosomes are prot...",1/3,836,Individual,Carol W. Greider,1961-04-15,"San Diego, CA",United States of America,Female,Johns Hopkins University School of Medicine,"Baltimore, MD",United States of America,NaN,NaN,NaN
891,2011,Peace,The Nobel Peace Prize 2011,"""for their non-violent struggle for the safety...",1/3,869,Individual,Ellen Johnson Sirleaf,1938-10-29,Monrovia,Liberia,Female,NaN,NaN,NaN,NaN,NaN,NaN
892,2011,Peace,The Nobel Peace Prize 2011,"""for their non-violent struggle for the safety...",1/3,870,Individual,Leymah Gbowee,1972-02-01,Monrovia,Liberia,Female,NaN,NaN,NaN,NaN,NaN,NaN
893,2011,Peace,The Nobel Peace Prize 2011,"""for their non-violent struggle for the safety...",1/3,871,Individual,Tawakkol Karman,1979-02-07,Ta'izz,Yemen,Female,NaN,NaN,NaN,NaN,NaN,NaN
921,2013,Literature,The Nobel Prize in Literature 2013,"""master of the contemporary short story""",1/1,892,Individual,Alice Munro,1931-07-10,Wingham,Canada,Female,NaN,NaN,NaN,NaN,NaN,NaN
937,2014,Medicine,The Nobel Prize in Physiology or Medicine 2014,"""for their discoveries of cells that constitut...",1/4,904,Individual,May-Britt Moser,1963-01-04,Fosnavåg,Norway,Female,Norwegian University of Science and Technology...,Trondheim,Norway,NaN,NaN,NaN
940,2014,Peace,The Nobel Peace Prize 2014,"""for their struggle against the suppression of...",1/2,914,Individual,Malala Yousafzai,1997-07-12,Mingora,Pakistan,Female,NaN,NaN,NaN,NaN,NaN,NaN
951,2015,Literature,The Nobel Prize in Literature 2015,"""for her polyphonic writings, a monument to su...",1/1,924,Individual,Svetlana Alexievich,1948-05-31,Ivano-Frankivsk,Ukraine,Female,NaN,NaN,NaN,NaN,NaN,NaN
954,2015,Medicine,The Nobel Prize in Physiology or Medicine 2015,"""for her discoveries concerning a novel therap...",1/2,918,Individual,Youyou Tu,1930-12-30,Zhejiang Ningbo,China,Female,China Academy of Traditional Chinese Medicine,Beijing,China,NaN,NaN,NaN

In [59]:
nobel_df.groupby('gender').count()

,prize_year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,organization_name,organization_city,organization_country,death_date,death_city,death_country
gender,,,,,,,,,,,,,,,,,
Female,50,50,50,43,50,50,50,50,50,50,50,19,19,19,27,27,27
Male,893,893,893,828,893,893,893,893,888,891,893,703,697,697,590,572,578

In [85]:
nobel_df[women_filter].groupby('birth_country').count()

,prize_year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,gender,organization_name,organization_city,organization_country,death_date,death_city,death_country
birth_country,,,,,,,,,,,,,,,,,
Australia,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0
Austria,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0
Austria-Hungary (Czech Republic),1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Austrian Empire (Czech Republic),1,1,1,0,1,1,1,1,1,1,1,0,0,0,1,1,1
British Mandate of Palestine (Israel),1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0
Burma (Myanmar),1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0
Canada,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0
Chile,1,1,1,1,1,1,1,1,1,1,1,0,0,0,1,1,1
China,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0
Denmark,1,1,1,1,1,1,1,1,1,1,1,0,0,0,1,1,1
Egypt,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
France,2,2,2,2,2,2,2,2,2,2,2,2,2,2,1,1,1
Germany,2,2,2,2,2,2,2,2,2,2,2,1,1,1,1,1,1
Germany (Poland),1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Guatemala,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0
Iran,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0
Italy,2,2,2,2,2,2,2,2,2,2,2,1,1,1,2,2,2
Kenya,1,1,1,1,1,1,1,1,1,1,1,0,0,0,1,1,1
Liberia,2,2,2,2,2,2,2,2,2,2,2,0,0,0,0,0,0
Northern Ireland,2,2,2,0,2,2,2,2,2,2,2,0,0,0,0,0,0
Norway,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0
Ottoman Empire (Republic of Macedonia),1,1,1,0,1,1,1,1,1,1,1,0,0,0,1,1,1
Pakistan,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0
Persia (Iran),1,1,1,1,1,1,1,1,1,1,1,0,0,0,1,1,1
Poland,1,1,1,1,1,1,1,1,1,1,1,0,0,0,1,1,1
Romania,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0
Russian Empire (Poland),2,2,2,2,2,2,2,2,2,2,2,1,1,1,2,2,2
South Africa,1,1,1,1,1,1,1,1,1,1,1,0,0,0,1,1,1
Sweden,2,2,2,1,2,2,2,2,2,2,2,0,0,0,2,2,2
Ukraine,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0
United States of America,12,12,12,10,12,12,12,12,12,12,12,7,7,7,8,8,8
Yemen,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0