In [8]:
ages = [45, 23, 16, 34, 64, 28, 42, 31, 27, 38, 17, 52, 29, 44, 33, 15, 61, 36, 18, 41]

occupations = ['farmer', 'servant', 'laborer', 'merchant', 'farmer', 'servant', 'teacher', 'farmer', 'laborer', 'merchant', 'servant', 'farmer', 'laborer', 'blacksmith', 'carpenter', 'servant', 'farmer', 'weaver', 'servant', 'carpenter']

birth_places = ['Ireland', 'Ireland', 'New York', 'England', 'Ireland', 'Germany', 'New York', 'Ireland', 'Ireland', 'Scotland', 'Ireland', 'England', 'Ireland', 'Wales', 'Ireland', 'Ireland', 'Scotland', 'Ireland', 'Germany', 'Ireland']

exploring contents of lists

In [16]:
print(len(ages))
print(len(occupations))
print(len(birth_places))

20
20
20

In [41]:
occupations[0:5]

['farmer', 'servant', 'laborer', 'merchant', 'farmer']

In [44]:
from collections import Counter
Counter(occupations)

Counter({'farmer': 5,
         'servant': 5,
         'laborer': 3,
         'merchant': 2,
         'carpenter': 2,
         'teacher': 1,
         'blacksmith': 1,
         'weaver': 1})

In [54]:

for number, occupation in enumerate(occupations):
    print(f"Person #{number}: {occupation}")

Person #0: farmer
Person #1: servant
Person #2: laborer
Person #3: merchant
Person #4: farmer
Person #5: servant
Person #6: teacher
Person #7: farmer
Person #8: laborer
Person #9: merchant
Person #10: servant
Person #11: farmer
Person #12: laborer
Person #13: blacksmith
Person #14: carpenter
Person #15: servant
Person #16: farmer
Person #17: weaver
Person #18: servant
Person #19: carpenter

In [56]:
skilled_laborers = []
for occupation in occupations:
    if occupation == 'blacksmith' or occupation == 'carpenter' or occupation == 'weaver':
        skilled_laborers.append(occupation)
print(f"number of skilled ppl: {len(skilled_laborers)}")

number of skilled ppl: 4

In [ ]:
uk_born= []
for birth in birth_places:
    if birth == 'Wales' or birth == 'Ireland' or birth== 'England':
        uk_born.append(birth)

print(f"num of UK born: {len(uk_born)}")

forkes_under_30 = []
for age in ages:
    if age<30:
        forkes_under_30.append(age)


print(forkes_under_30)